.body {
  padding: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input {
  display: block;
  text-align: center;
}
